body {
    max-width: 330px;
    margin: auto;
    font-family: Arial, sans-serif;
	text-align: center
}

.shadow-box {
	background: #eee;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px #eee;
    padding: 1em;
}

.qr-code a {
	padding-left: 0.6em;
	padding-right: 0.6em;
}

.qr-code img {
	background: #fff;
}
