body {
    max-width: 330px;
    margin: auto;
    font-family: Arial, sans-serif
}

.shadow-box {
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px #eee;
    padding: 1em;
}

.qr-code {
    height: 300px; width: 300px;
}

.nav-link {
    padding: 1px;
}

.nav-link li {
    display: inline-block;
    font-size: 14px;
}

.nav-link a {
    text-decoration: none;
    background: #eee;
    padding: 5px;
    border-radius: 5px
}
